<% if type.errors.any? %>
  <div class="danger">
    This form contains <%= pluralize(type.errors.count, "error")%>
  </div>
  <div class="danger">
    <ul>
      <% type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>